<div class="bjui-pageContent tableContent">
  <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
    <input type="hidden" name="id" value="{$id}">
    <div class="pageFormContent" data-layout-h="0">
      <table class="table table-condensed table-hover" width="100%">
        <tbody>
          <tr>
            <td><input type='hidden' id='juid' name='juid'  size='0'   value='{$Rs.juid}'  ><label for='title_input' class='control-label x85'>标题:</label>
              <input type='text' id='title' name='title' data-rule='required;' size='20'   value='{$Rs.title}'  ></td>
               <td><label for='classify_input' class='control-label x85'>特色加分分类:</label>
              <select  data-toggle="selectpicker" name="classify" id="classify">
                <volist name="classifylist" id="data">
                  <if condition="$data['id'] eq $Rs['classify']">
                    <option value ="{$data.id}"   selected="selected">
                    <else/>
                    <option value ="{$data.id}">
                  </if> {$data.title}</option>
                </volist>
              </select></td>
          
          </tr>
         <tr>
            <td><label for='points_input' class='control-label x85'>加分数:</label>
              <input type='text' id='points' name='points' data-rule='required;' size='20'   value='{$Rs.points}'  ></td>
            <td><label for='addtime_input' class='control-label x85'>添加日期:</label> <input type='text' data-toggle='datepicker' data-pattern='yyyy-MM-dd' id='addtime' name='addtime'  data-rule='' size='11'   value='{$Rs.addtime}'  ></td>
          </tr>
          <tr></tr>
          <tr></tr>
         
          </tr>
          
          <tr>
            <td colspan=2><label for='beizhu_input' class='control-label x85'>备注说明:</label>
              <div style='display: inline-block; vertical-align: middle;'>
                <textarea name='beizhu'   data-toggle='kindeditor' data-minheight='150' data-items='fontname, fontsize, |, forecolor, hilitecolor, bold, italic, underline, removeformat, |, justifyleft, justifycenter, justifyright, insertorderedlist, insertunorderedlist, |, emoticons, image, multiimage, link'>{$Rs.beizhu}</textarea>
              </div></td>
          </tr>
          </tr>
          
          <tr>
            <td colspan=2><label for='attid_input' class='control-label x85'>上传附件:</label>
              <div style='display: inline-block; vertical-align: middle;'><IFRAME   src='__MODULE__/Public/attfile/attid/{$attid}/'  frameBorder=0 width='180%' height='auth' scrolling=no ></IFRAME>
                <input type='hidden' id='attid' name='attid'  value='{$attid}'  >
                <a href='__MODULE__/Public/uploads/attid/{$attid}/'   class='btn btn-green btn-sm' data-toggle='dialog' data-width='650' data-height='300' data-id='dialog-normal' data-mask='true' >已上传文件管理</a></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="bjui-pageFooter">
  <ul>
    <li>
      <button type="button" class="btn-close" data-icon="close">取消</button>
    </li>
    <li>
      <button type="submit" class="btn-default" data-icon="save">保存</button>
    </li>
  </ul>
</div>
