<if condition="$uid lt 1"><div class="bjui-pageHeader">
  <form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
    <input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
    <div class="bjui-searchBar">
      <label>关键词：</label>
      <input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="12" />
	   <label>上报网络：</label>
       <select name="pubid" id="pubid" data-toggle='selectpicker'>
        	<option value='0'>全选</option>
          <volist name="publist" id="data"> <option value ="{$data.id}" <if condition="$pubid eq $data['id']">selected="selected"</if>> {$data.title}
               </option>
          </volist>
        </select>
        <label>审核状态：</label>
       <select name="sstatus" id="sstatus" data-toggle='selectpicker'>
        	<option value='0'>全选</option>
          <volist name="shlist" id="data"> <option value ="{$data.id}" <if condition="$sstatus eq $data['id']">selected="selected"</if>> {$data.title}
               </option>
          </volist>
        </select>
      <label>添加时间：</label>
      <input type='text' data-toggle='datepicker' value='{$_REQUEST['time1']}' name='time1' class='form-control' size='12' />
      -
      <input type='text' data-toggle='datepicker' value='{$_REQUEST['time2']}' name='time2' class='form-control' size='12' />
      &nbsp;
      <button type="submit"  class="btn-default" data-icon="search">查询</button>
      <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
      
        <php>if(display(CONTROLLER_NAME.'/pldel')){</php>
        <span><a type="button" class="btn btn-red" href="__URL__/pldel/navTabId/{:CONTROLLER_NAME}" data-toggle="doajaxchecked" data-group="ids" data-confirm-msg="确定要删除选中项吗？">批量删除</a></span>
        <php>}</php>
      <php>if(display(CONTROLLER_NAME.'/add')){</php>
      <span><a href="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="btn btn-green" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" data-icon="plus">新增</a></span>
      <php>}</php>
    </div>
  </form>
</div></if>
<div class="bjui-pageContent tableContent">
  <table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
    <thead>
      <tr>
        <th width="25" height="30"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
        <th data-order-direction='desc' data-order-field='id' width='35'>ID</th>
        <th>标题</th>
       <th>上报网络</th>
        <th>作者</th>
        <th>添加人</th>
        <th data-order-direction='desc' data-order-field='addtime'>添加时间</th>
         <th>审核状态</th>
        <php>if(display(CONTROLLER_NAME.'/edit')){</php>
        <th>操作 </th>
        <php>}</php>
        
      </tr>
    </thead>
    <tbody>
      <volist id="v" name="list">
        <tr ondblclick="abc('{:CONTROLLER_NAME}{$v['id']}');">
           <td><input type="checkbox" id="ids" data-toggle="icheck" value="{$v.id}"  <if condition="((session('uid') eq $v['uid']) && $v['pubid'] lt 5) or (session('uid') eq 1)"> name="ids" <else/>name="idss" disabled</if>></td>
           <td>{$v.id}</td>
          <td>{$v.title|msubstr=###,0,30}</td>
          <td>{$v.pubname}</td>
          <td>{$v.author}</td>
          <td>{$v.uname|msubstr=###,0,20}</td>
          <td>{$v.updtime|substr=###,0,10}</td>
		  <td>{$v.shname}</td>
          <php>if(display(CONTROLLER_NAME.'/view')){</php><td style="display:none;"><a href="__URL__/view/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"  data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" id="{:CONTROLLER_NAME}{$v['id']}" >详细</a></td>          <php>}</php>
           <td><php>if(display(CONTROLLER_NAME.'/shenhe')){</php>
         <a href="__URL__/shenhe/id/{$v['id']}/sstatus/49/navTabId/{:CONTROLLER_NAME}" data-toggle="doajax" data-confirm-msg="确定要通过审核吗？"  class="btn <if condition="$v['shname'] eq '通过'">btn-default<else/>btn-green</if> btn-sm">通过审核</a>&nbsp;
          <a href="__URL__/nosh/id/{$v['id']}/sstatus/47/navTabId/{:CONTROLLER_NAME}" data-toggle="dialog" data-width="500" data-height="200" data-id="dialog-mask" data-mask="true"  class="btn <if condition="$v['shname'] eq '通过'">btn-default<else/>btn-red</if> btn-sm">不通过审核</a>&nbsp;
          <php>}</php>
        
              
 <if condition="$v['sstatus'] != 49">          <a href="__URL__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="900" data-height="500" data-id="dialog-mask" data-mask="true" >编辑</a>
              </if>
           <php>if(display(CONTROLLER_NAME.'/pub')){</php>
		   
          <a href="__URL__/pub/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="400" data-height="200" data-id="dialog-mask" data-mask="true" >发布上报</a>
         
		  
		  <php>}</php>
          
		 
            </td>
        </tr>
      </volist>
    </tbody>
  </table>
</div>
<div class="bjui-pageFooter">
  <div class="pages"> <span>共 {$totalCount} 条  每页 {$numPerPage} 条</span> </div>
  <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}"> </div>
</div>
