

<div class="bjui-pageContent tableContent">
    <form action="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
		   <tr><td>
                <label  class="control-label x85">分类：</label>
                <select name="fenlei"  data-toggle="selectpicker" >
                 <volist name="Think.config.CONFIG_CLASS" id="class">
						<option value="{$class}" <if condition="$class EQ $Rs['fenlei'] ">selected </if> >{$class}</option>
					</volist>
                 </select>
             </td></tr>
			<tr><td>
                <label  class="control-label x85">名称:</label>
                <input type="text" data-rule="required" size="20" name="name"  value="{$Rs.name}" <if condition="$id EQ 0"><else/>disabled="disabled"</if> >
				<span>用于C函数调用，只能使用英文且不能重复</span>
             </td></tr>
            <tr><td>
                <label  class="control-label x85">标题:</label>
                <input type="text" data-rule="required" size="20"  name="title"  value="{$Rs.title}" >
				<span>用于后台显示的配置标题</span>
             </td></tr>
             <tr><td>
                <label  class="control-label x85">类型：</label>
                <select name="type"  data-toggle="selectpicker" >
                 <volist name="Think.config.CONFIG_TYPE_LIST" id="type">
						<option value="{$key}" <if condition="$key EQ $Rs['type'] ">selected </if> >{$type}</option>
					</volist>
                 </select>
             </td></tr>
             <tr><td>
                <label  class="control-label x85">配置值：</label>
                <textarea cols="20" rows="2" data-toggle="autoheight" name="value">{$Rs.value|default=''}</textarea>
             </td></tr>
			 <tr><td>
                <label  class="control-label x85">配置项：</label>
				<textarea cols="20" rows="2" data-toggle="autoheight" name="extra">{$Rs.extra|default=''}</textarea>
				<span>如果是枚举型 需要配置该项</span>
             </td></tr>
            <tr><td>
                <label  class="control-label x85">说明：</label>
				<textarea cols="20" rows="2" data-toggle="autoheight" name="remark">{$Rs.remark|default=''}</textarea>
				<span>配置详细说明</span>
             </td></tr>
            <tr><td>
                <label  class="control-label x85">排序：</label>
                <input type="text" size="5" data-toggle="spinner" data-min="0" data-max="100" data-step="1" data-rule="integer" name="sort" value="{$Rs.sort}" >
           </td></tr>
            </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>


			
			