<div class="bjui-pageContent tableContent">
    <form action="__URL__/edit/navTabId/{:CONTROLLER_NAME}" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
			<tr><td>
                <label for="j_name" class="control-label x85">上级菜单：</label><select  name="pid" data-toggle="selectpicker" data-rule="required">
               <option  value="0">顶级</option>
	          <foreach name="list" item="v">
              <option <if condition="$v.id EQ $Rs['pid'] ">selected value="{$Rs['pid']}" <else/>value="{$v.id}"</if> >
	          <switch name="v.level">  <case value="0">+</case> <case value="1">+--</case><case value="2">+------</case><default /></switch>
	           {$v.catename} <if condition="$v.status EQ 1 "><else/><font color=red>[未启用]</font></if>
	         </option>
             </foreach>
             </select>
            </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">菜单名称：</label>
                <input type="text" data-rule="required" size="30" name="catename" id="j_title" value="{$Rs['catename']}" >
            </td></tr>
            <tr><td>
                <label for="j_group_id" class="control-label x85">网址连接：</label>
                <input type="text" data-rule="required" size="30" name="alink" id="j_url" value="{$Rs['alink']}" >
           </td></tr>
             <tr><td>
                <label for="j_sort" class="control-label x85">排序：</label>
                <input type="text" size="5" data-toggle="spinner" data-min="0" data-max="100" data-step="1" data-rule="integer" name="sort" id="j_sort" value="{$Rs['sort']}" >
           </td></tr>
            </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
       <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
       <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>

			
			