<div class="bjui-pageHeader">
  <form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
    <input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
    <div class="bjui-searchBar">
      <label>关键词：</label>
      <input type="text" value="{$_REQUEST['keys']}" name="keys" class="form-control" size="12" />
      <button type="submit"  class="btn-default" data-icon="search">查询</button>
      <a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">清空查询</a>
        <php>if(display(CONTROLLER_NAME.'/pldel')){</php>
        <span><a type="button" class="btn btn-red" href="__URL__/pldel/navTabId/{:CONTROLLER_NAME}" data-toggle="doajaxchecked" data-group="ids" data-confirm-msg="确定要删除选中项吗？">批量删除</a></span>
        <php>}</php>
      <php>if(display(CONTROLLER_NAME.'/add')){</php>
      <span><a href="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="btn btn-green" data-toggle="dialog" data-width="400" data-height="250" data-id="dialog-mask" data-mask="true" data-icon="plus">新增</a></span>
      <php>}</php>
    </div>
  </form>
</div>
<div class="bjui-pageContent tableContent">
  <table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
    <thead>
      <tr>
        <th width="25" height="30"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
        <th data-order-direction='desc' data-order-field='id' width='35'>ID</th>
        <th>分类名称</th>
        <th>备注说明</th>
        <th data-order-direction='desc' data-order-field='sort'>排序</th>
        <th>添加单位</th>
        <th data-order-direction='desc' data-order-field='addtime'>添加时间</th>
        <th data-order-direction='desc' data-order-field='updatetime'>编辑时间</th>
        <th>下级</th>
        <php>if(display(CONTROLLER_NAME.'/edit')){</php>
        <th>编辑</th>
        <php>}</php>
      </tr>
    </thead>
    <tbody>
      <volist id="v" name="list">
        <tr ondblclick="abc('{:CONTROLLER_NAME}{$v['id']}');">
          <td><input type="checkbox" name="ids" id="ids" data-toggle="icheck" value="{$v.id}"></td>
          <td>{$v.id}</td>
          <td>{$v.title|msubstr=###,0,20}</td>
          <td>{$v.desc|msubstr=###,0,20}</td>
          <td>{$v.sort}</td>
          <td>{$v.uname|msubstr=###,0,20}</td>
          <td>{$v.addtime|substr=###,0,10}</td>
          <td>{$v.updatetime|substr=###,0,10}</td>
          <td><a href="__URL__/index/pid/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="navtab" data-id="form{$v.id}" data-reload-warn="本页已有打开的内容，确定将刷新本页内容，是否继续？" data-title="{$v.title|msubstr=###,0,20}的下级" >
            <php>echo M('datalist')->where('pid='.$v['id'])->count();</php>
            条</a></td>
          
          <php>if(display(CONTROLLER_NAME.'/edit')){</php>
          <td><a href="__URL__/edit/id/{$v['id']}/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="600" data-height="450" data-id="dialog-mask" data-mask="true" >编辑</a></td>
          <php>}</php>
            </td>
        </tr>
      </volist>
    </tbody>
  </table>
</div>
<div class="bjui-pageFooter">
  <div class="pages"> <span>共 {$totalCount} 条  每页 {$numPerPage} 条</span> </div>
  <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$numPerPage}" data-page-current="{$currentPage}"> </div>
</div>
