
<div class="bjui-pageHeader">
<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
	
	<input type="hidden" name="pageSize" value="{$numPerPage}">
    <input type="hidden" name="pageCurrent" value="{$_REQUEST['pageNum']|default=1}">
	 
        <div class="bjui-searchBar">
		      
			  <php>if(display(CONTROLLER_NAME.'/add')){</php><span><a href="__URL__/add/type/0/navTabId/{:CONTROLLER_NAME}" class="btn btn-green" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true" data-icon="plus">新增部门</a></span><php>}</php>
			  <span><a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">刷新</a></span>
		</div> 
</form>
    
</div>
<div class="bjui-pageContent tableContent">
     <table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
        <thead>
            <tr>
            <th width="30" height="30"></th>
            <th>编号</th>
			<th>部门名称</th>
			<php>if(display(CONTROLLER_NAME.'/edit')){</php><th>操作</th><php>}</php>
			<th width="70%"></th>
            </tr>
        </thead>
        <tbody>

       <foreach name="list" item="v">
    	<tr>
        <td height=25></td><Td>{$v.id}</td><Td>
		<switch name="v.level">  <case value="0">+<B>{$v.title}</b></case> <case value="1">+--{$v.title}</case><case value="2">+------{$v.title}</case><default /></switch>
	    {$v.sort} <if condition="$v.status EQ 1 "><else/><img src="__PUBLIC__/images/locked.gif" border="0"/></if>
	    </td>
		<php>if(display(CONTROLLER_NAME.'/edit')){</php><td> <a href="__URL__/edit/id/{$v['id']}/type/0/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true" >编辑</a><!--
		    <a href="__URL__/editrule/id/{$v['id']}/type/0/navTabId/{:CONTROLLER_NAME}"   class="btn btn-green btn-sm" data-toggle="dialog" data-width="950" data-height="500" data-id="dialog-mask" data-mask="true" >权限</a>-->
		</td><php>}</php>
        <Td></td>
        </tr>
        </foreach>
        </tbody>
    </table>
</div>